<div class="container">

<mat-card [formGroup]="loginForm" class="main-form">
  <mat-card-title>Connexion</mat-card-title>

    <div class="form-row">

      <mat-form-field appearance="fill">
        <mat-label>Login</mat-label>
        <input autocomplete="name" type="text" matInput formControlName="username">
        <mat-error>ce champ est requis</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input autocomplete="none" type="password" matInput formControlName="password">
        <mat-error>ce champ est requis</mat-error>
      </mat-form-field>
    </div>
<br/>
    <button mat-flat-button  color="primary" (click)="authenticateTheUser()" [disabled]="!loginForm.valid">ENREGISTRER</button>
  <br/>  <br/>

  <a href=""  >Mot de passe oublié</a>
  <a (click)="click()" style="float:right;">Pas encore Inscrit ?</a>

</mat-card>
</div>
