
<!------------------SEARCH---------------------->
<mat-form-field   class="search-bar" appearance="fill">
  <mat-label>Rechercher un Service</mat-label>
  <input matInput type="text" [(ngModel)]="value">
  <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>close</mat-icon>
  </button>
  <mat-icon matPrefix disabled="true">search</mat-icon>
</mat-form-field>




<mat-drawer-container class="example-container">

  <!------------------SIDE NAV---------------------->


  <mat-drawer class="side" mode="side" opened>
<!--    <h5>Selectionner un service:</h5>-->
<!--    <section class="example-section" [formGroup]="toppings">-->

<!--          <p><mat-checkbox formControlName="SalleEntity" (change)="changeSelection()">Salle</mat-checkbox></p>-->
<!--          <p><mat-checkbox formControlName="MusiqueEntity">Musique</mat-checkbox></p>-->
<!--          <p><mat-checkbox formControlName="MediaEntity">Media</mat-checkbox></p>-->
<!--          <p><mat-checkbox formControlName="TraiteurEntity">Traiteur</mat-checkbox></p>-->
<!--          <p><mat-checkbox formControlName="ServiceTraiteurEntity">Service Traiteur</mat-checkbox></p>-->
<!--          <p><mat-checkbox formControlName="MakeUpAndHairEntity">MakeUpAndAir</mat-checkbox></p>-->
<!--    </section>-->


    <div class="form-check" *ngFor="let product of servicesCheckBox; let index = index">
      <label class="form-check-label text-break">
<!--        <input class="form-check-input" type="checkbox" [ngModel]="selectedIndex === index"-->
<!--               (change)="changeSelection($event, index,product.name)" />-->
<!--        {{ product.label }}-->
        <p><mat-checkbox [ngModel]="selectedIndex === index" (change)="changeSelection($event, index,product.name)">{{product.label}}</mat-checkbox></p>
        <span class="form-check-sign">
        <span class="check"></span>
    </span>
      </label>
    </div>

  </mat-drawer>


  <!------------------MAIN---------------------->


  <mat-drawer-content class="main">
    <div *ngFor="let service of serviceFiltered | filter :value">

      <mat-card class="home-card">
        <div id="div-flex-container">

          <mat-card-title-group class="home-card-content">
            <div id="div-flex-left">
              <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            </div>

            <p style="margin-left:2%"></p>


            <div id="div-flex-right">
              <mat-card-title matLine>  {{service.nom}} </mat-card-title>
              <mat-card-subtitle matLine>Large</mat-card-subtitle>
              <mat-card-content matLine>
                <h6 id="description">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise
                  en
                  page avant
                  impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un
                  imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices
                  de
                  texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique
                  informatique,
                  sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de
                  feuilles Letraset contenant </h6>
                <!--            <span>  {{service.desciption}} </span>-->
              </mat-card-content>
            </div>
          </mat-card-title-group>
        </div>
        <mat-card-actions align="end">
          <button color="accent" mat-raised-button align="center"(click)="onViewService(service.serviceID)">Verifier les
            dates
          </button>
        </mat-card-actions>
      </mat-card>
      <br>
    </div>
  </mat-drawer-content>

</mat-drawer-container>
