
<div class="container">
<mat-card class="user" color="primary" routerLink="/register/customer">
  <mat-card-title-group >
    <mat-card-title >Je suis un utilisateur</mat-card-title>
<!--    <mat-card-subtitle>Small</mat-card-subtitle>-->
  </mat-card-title-group>
</mat-card>

<mat-card class="provider" color="primary" routerLink="/register/provider">
  <mat-card-title-group>
    <mat-card-title>Je suis un Fournisseur de Service</mat-card-title>
<!--    <mat-card-subtitle>Small</mat-card-subtitle>-->
  </mat-card-title-group>

</mat-card>
</div>
