<!--<div *nGIf='traiteurDTO' >-->
<form  [formGroup]="form">
<div>
  <mat-form-field class="example-full-width">
    <mat-label>Nom de la Societe</mat-label>
    <input matInput formControlName="nom">
  </mat-form-field>
</div>


<p>
  <mat-checkbox class="example-margin" formControlName="do_vegan">
    Vous faites des plats végan
  </mat-checkbox>


  <mat-checkbox class="example-margin" formControlName="do_vegetarian">
    Vous faites des plats végetarien
  </mat-checkbox>
</p>
<p>
  <mat-checkbox class="example-margin" formControlName="do_meat">
    Vous faites des plats à base de viande
  </mat-checkbox>
  <mat-checkbox class="example-margin" formControlName="do_fish">
    Vous faites des plats à base de poisson
  </mat-checkbox>
</p>
  <button mat-flat-button color="primary" (click)="onSubmitForm(form!.value)">ENREGISTRER</button>
</form>
<!--</div>-->
