.example-small-box, .example-large-box {
  display: flex;
  /*align-items: center;*/
  /*justify-content: center;*/
  margin: 16px;
  padding: 16px;
  border-radius: 8px;

}

.example-large-box {
  height: 400px;
  width: 97%;
}

.container-div{
  display: flex;

}

.formules-div{
  margin-left: 5%;
  width: 100%;


}

.description-div {
  margin-left: 5%;
}
.description-div {
  margin-left: 5%;
}


