.example-small-box, .example-large-box {
  display: flex;
  /*align-items: center;*/
  /*justify-content: center;*/
  margin: 16px;
  padding: 16px;
  border-radius: 8px;

}

.example-large-box {
  height: 400px;
  width: 97%;
}

.container-div{
  display: flex;

}

.formules-div{
  margin-left: 5%;
  width: 100%;
}

::ng-deep {
.mat-tooltip {
  margin-top: 16px;
  background: #b71c1c;
}
}
.example-tooltip-red {
}

.description-div {
  margin-left: 5%;
}
.description-div {
  margin-left: 5%;
}

.div-flex-image{
  width: 35%;
  height: auto;

}
#div-flex-container{
  width: 100%;
  justify-content:space-between;
  align-items: flex-end;
  //min-height: 70%;
}
.div-flex-image{
  width: 40%;
  height: auto;

}
#div-flex-center{
  //width: 1000px;
  width: 90%;

}
