

<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <span>
    <button mat-button routerLink="/">{{title}}
      <mat-icon>home</mat-icon>
    </button>
<!--    <button mat-button routerLink="/"></button>-->
  </span>
  <span class="example-spacer"></span>


  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="marryme/login" *ngIf="!isloged()">
      <mat-icon>login</mat-icon>
      Login
    </button>

    <button mat-button routerLink="marryme/register" *ngIf="!isloged()" >
      <mat-icon>power_settings_new</mat-icon>
      register
    </button>

    <button  mat-button *ngIf="isloged()" (click)="logout()">
      <mat-icon>logout</mat-icon>
      lougout
    </button>

    <button mat-button *ngIf="isloged()" [matMenuTriggerFor]="beforeMenu">
      Profil
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item >Modifier mes données</button>
      <button mat-menu-item routerLink="marryme/reservations/">Mes reservations</button>
    </mat-menu>


  </div>
</mat-toolbar>

