
<form [formGroup]="form">

<div>
  <mat-form-field class="example-full-width">
    <mat-label>Nom de la Societe</mat-label>
    <input matInput formControlName="nom">
  </mat-form-field>
</div>


  <mat-form-field class="example-full-width" style="width: 100%; ">
    <mat-label>Presentation</mat-label>
    <textarea matInput placeholder="Présentez brievement votre société" #postalCode
              maxlength="300" formControlName="presentation"></textarea>
    <mat-hint align="end">{{postalCode.value.length}} / 300</mat-hint>
  </mat-form-field>




  <p>
  <mat-checkbox class="example-margin" formControlName="man_only">
    Vous pouvez fournir un service uniquement presté par des femmes
  </mat-checkbox>
  <mat-checkbox class="example-margin" formControlName="woman_only">
    Vous pouvez fournir un service uniquement presté par des hommes
  </mat-checkbox>
</p>

  <button mat-flat-button color="primary" [disabled]="!form.touched"  (click)="onSubmitForm(form!.value)">ENREGISTRER</button>

</form>
