<form [formGroup]="form">

<div>
  <mat-form-field class="example-full-width">
    <mat-label>Nom de la Societe</mat-label>
    <input matInput formControlName="nom">
  </mat-form-field>
</div>

<div>
  <mat-form-field appearance="fill">
    <mat-label>Quel Musicien etes vous ?</mat-label>
    <mat-select formControlName="musique_type">
      <mat-option value="DJ">DJ</mat-option>
      <mat-option value="CLassique">CLassique</mat-option>
      <mat-option value="Band">Band</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<button mat-flat-button color="primary" (click)="onSubmitForm(form!.value)">ENREGISTRER</button>

</form>
