.footer {
  position: static;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: rgb(221, 148, 13);
  color: rgb(9, 2, 24);
  text-align: center;
  margin: 0px;

  z-index: 9;
}
/*.content {*/
/*  position: absolute;*/
/*  background-color: blueviolet;*/
/*  width: 98%;*/
/*  border: 1px solid rgb(18, 141, 38);*/
/*  margin: 5px;*/
/*  !* bottom: -50px; *!*/
/*  height: 80%;*/
/*  max-height: 100%;*/
/*  overflow: auto;*/
/*}*/
/*.sidenavstyle{*/
/*  background-color: rgb(4, 61, 21);*/
/*  color: rgb(208, 206, 216);*/
/*}*/

