/*mat-form-field {*/
/*  width: 45%;*/
/*  margin-left: 10%;*/
/*}*/

/*.form-row {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*}*/

.container {
  height: 100%;
  display: flex;
  justify-content: center;
}


/*mat-card-actions {*/
/*  text-align: center;*/
/*}*/

.mat-card {
  /*top:20%;*/

  /*position:center;*/

  align-items: center;
}

.mat-form-field{
  margin: 5px;
}

.mat-flat-button{
  float: right;
}

/*.error-text {*/
/*  color: red;*/
/*}*/
