mat-form-field {
  width: 45%;
  margin-left: 10%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-card {
  margin: 40px 0;

}


mat-card-actions {
  text-align: center;
}

.main-form {
  /*position: relative;*/
  top:20%;
  width:50%;
  position:fixed;
}

.mat-flat-button{
  float: right;
}

.error-text {
  color: red;
}
